@import "../utilities/ejemMix";

@import "../blocks/header";
@import "../blocks/main";
@import "../blocks/footer";


* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif ;
    list-style: none;

}

a {
    color: #1264A9;
    font-weight: bold;
    text-decoration: none;
    
}

.b-text {
    font-size: 15px;

    &__marginBottomS {
        margin-bottom: 5px;
    }

    &__marginBottom {
        margin-bottom: 10px;
    }

    &__XS {
        font-weight: normal;
        font-size: 14px;

    }
}

.b-h1 {
    font-size: 40px;
}

.b-h2 {
    font-size: 30px;
    padding: 5px 0px;
    margin-bottom: 20px;

    &--white {
        color: white;
    }
}

.b-h3 {
    font-size: 14px;

    &--alignCenter {
        text-align: center;
    }
}


.b-parraf {
    line-height: 25px;
    padding: 15px 0px;
    font-weight: bold;

}

.b-icon {
    height: 50px;
    width: 50px;

    &--giro {
        rotate: 45;
    }
}

.b-iconMini {
    height: 10px;

    &--giro {
        transform: rotate(90deg);
    }
}

    
.b__twoButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}

.b-button {
    text-align: center;
    font-size: 14px;
    background-color: white;
    color:#541554;
    font-weight: bold;
    padding: 12px 20px;
    border: 0;
    border-radius: 7px;

    &Icon {
        background-color: rgb(68, 118, 255);
        display: flex;
        justify-content:flex-start;
        align-items: center;
        text-align: center;
        margin: 20px 0;
        border-radius: 7px;

        &__icon {
            background-color: white;
            width: 30px;
            padding: 10px;
            margin: 5px;
        }

        &__text {
            width: 100%;
            text-align: center;
            color: white;
            padding: 0% 9%;
        }
        
    }

    &--purple {
        color: white;
        background-color: #541554;
    }


    &--purpleLine {
        color: #541554;
        border: 1px solid #541554;
    }

    &--whiteLine {
        color: white;
        border: 1px solid white;
    }
}

.b-percentg {
    font-size: 45px;
    font-weight: bold;
    color: #541554;
}

.b-textMini {
    font-size: 13px;   
    line-height: 18px;
}

.b-text--italics {
    font-style: italic;
}

.b-moveDots {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    padding: 20px 0px 0px;

    &__dot {
        background-color: grey;
        width: 12px;
        height: 12px;
        border-radius: 50%;

        &:hover {
        background-color: #541554;

        }
    }
    
}

.b-chatWidget {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15%;
    background-color: rgb(155, 24, 155);
    box-shadow: 0px 5px 15px rgb(68, 68, 68);
    color: white;
    z-index: 1;
}

.b-textArrow {
    display: flex;

    &--fullwidth {
        display: flex;
        justify-content: space-between;
    }

}

@media all and (max-width : 1080px) {


    .b-hideMobile {
        display: none !important;
    }
}

@media all and (min-width : 1080px) {

    .b-button {
        &--secondary {
            margin-top: 0px;
            margin-left: 10px;
        }
    }

    .b-moveDots {
        display: none;
    }

    .b-hideDesktop {
        display: none !important;
    }

}

